.wrapper{
  margin:0 auto;
  width:90%;
}
.wrapper.fw{
    width:100%;
}
.wrapper.xl{
    max-width:1400px;
}
.wrapper.l{
  max-width:1140px;
}
.wrapper.md{
    max-width:960px;
}
.wrapper.s{
    max-width:768px;
}
.wrapper.xs{
    max-with:600px;
}