.header.primary{
  background-color:#fff;
  font-family:$font-sans;
}
.header.primary > .wrapper{
  display:flex;
    align-items:center;
    justify-content:space-between;
  height:100px;
}
.hero{
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  height:calc(100vh - 200px);
  position:relative;
}
.hero.preload{
  display:none;
}
.logo{
  color:#333;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;
}
.logo span{
  color:#aaa;
}
.nav.primary > ul{
  display:flex;
}
.nav.primary li{
  list-style-type:none;
}
.nav.primary a{
  color:#333;
  font-weight:bold;
  text-transform:uppercase;
}
.overlay{
  background-color:rgba(0, 0, 0, 0.2);
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}
article .thumbnail{
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  height:0;
  padding-bottom:56.25%;
  width:100%;
}
.thumbnail.title{
  bottom:5rem;
  color:#fff;
  font-family:$font-sans;
  margin:0;
  position:absolute;
  right:5rem;
  text-align:right;
  text-transform:uppercase;
}