.header.primary{
  background-color:#23232a;
  color:#fff;
  font-family:$font-sans;
}
.header.primary > .wrapper{
  display:flex;
    align-items:center;
    justify-content:space-between;
  height:60px;
}
.logo{
  color:#f7f7f7;
  font-size:2rem;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;
}
.logo span{
  color:#909096;
}